/.CFUserTextEncoding
/.DS_Store
/.Trash
/.Xauthority
/.anaconda
/.android
/.angular-config.json
/.astropy
/.bash_history
/.bash_profile
/.bash_profile-anaconda3.bak
/.bash_profile-miniconda3.bak
/.bash_profile.pysave
/.bash_sessions
/.bashrc
/.bashrc.save
/.cisco
/.cocoapods
/.conda
/.condarc
/.config
/.continuum
/.cordova
/.cups
/.designer
/.docker
/.dropbox
/.dvdcss
/.electron
/.emacs.d
/.emulator_console_auth_token
/.gem
/.gitconfig
/.gnome2
/.gradle
/.iStats
/.idlerc
/.ionic
/.ipynb_checkpoints
/.ipython
/.jupyter
/.kodi
/.lemminx
/.local
/.lsp4xml
/.m2
/.matplotlib
/.mysql_history
/.npm
/.oracle_jre_usage
/.p2
/.pgadmin
/.plotly
/.profile
/.profile~
/.pylint.d
/.python-for-android
/.python_history
/.python_history-00988.tmp
/.sqlline
/.ssh
/.subversion
/.thumbnails
/.tnsrc
/.tooling
/.viminfo
/.vscode
/.vue-templates
/.vuerc
/.wget-hsts
/.zshrc
/Applications
/CLionProjects
/Desktop
/Documents
/Downloads
/Dropbox
/Library
/Movies
/Music
/Pictures
/Public
/Security
/miniconda3
/nano.save
/wildfly-20.0.1.Final